.sidebar-left { 
   top: 60px;
    position: fixed !important;
    width: 230px;
    bottom: 0;
    background: #515871;
    color: #f1f1f1;
    transition: left 0.3s ease;
    z-index: 2;
    overflow: auto;
    left: 0;
    -webkit-box-shadow: 4px 0px 11px -7px rgb(0 0 0 / 37%);
    box-shadow: 4px 0px 11px -7px rgb(0 0 0 / 37%);
    z-index: 10;
}

.sidebar-left nav li>a {
    display: block;
    padding: 15px 20px;
    color: #aab9c7;
    margin-right: 0;
	text-decoration: none;
}

.sidebar-left nav ul, .sidebar-left nav li {
    float: none;
}

.sidebar-left nav>ul>li.highlight,
.sidebar-left nav>ul>li.tree-open>a {
    background: #f64945;
    color: #FFFFFF;
}

.sidebar-left nav li>a:hover {
    background: #f64945;
    color: #FFFFFF;
    box-shadow: inset 5px 0 #ad312e;
}